Options +FollowSymLinks
IndexIgnore */*

RewriteEngine on
RewriteBase /aow

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
#RewriteRule ^.*$ /main/index.php [L]
RewriteRule . /h5service/index.php [L]

